<h2>Статьи</h2>

<ul>
    <li>
        <a href='#'>что следует помнить приобретая автозапчасти</a>
    </li>
    <li>
        <a href='#'>что следует помнить приобретая автозапчасти</a>
    </li>
    <li>
        <a href='#'>что следует помнить приобретая автозапчасти</a>
    </li>
    <li>
        <a href='#'>что следует помнить приобретая автозапчасти</a>
    </li>
    <li>
        <a href='#'>что следует помнить приобретая автозапчасти</a>
    </li>
    <li>
        <a href='#'>что следует помнить приобретая автозапчасти</a>
    </li>
</ul>