<h2>Статьи</h2>

<ul>
    <li>
        <a href='#'>Что следует помнить приобретая автозапчасти</a>
    </li>
    <li>
        <a href='#'>Автозапчасти. Бывают оригенальные, бывают аналоговые: Какие лучше?</a>
    </li>
    <li>
        <a href='#'>Автозапчасти и правила их подбора</a>
    </li>
    <li>
        <a href='#'>Как улучшить прибыльность автосервиса</a>
    </li>
    <li>
        <a href='#'>Правильная эксплуатация двигателя</a>
    </li>
    <li>
        <a href='#'>Виды двигателей - анмосферные, турбированные и комплессорные</a>
    </li>
</ul>