
.mybutton
	padding: 7px 52px
	border-radius: 3px
	box-shadow: 1px 1px 1px black
	color: white
	background-color: black
	border: none
	text-transform: uppercase
	letter-spacing: 1.4px
	&:hover
		text-decoration: none
		cursor: pointer