<div class="container">
    <div class="bg-team">
        <header>
            <div class="container">

                <div class="row">
                    <div class="logo col-lg-2 col-lg-offset-1 col-md-12">
                        <a href="/"><img src="img/logo.png" alt="Логотип"></a>

                    </div>
                    <div class="name_org col-lg-6 col-md-12">
                        <span>ООО «Балтспецсервис»</span>
                    </div>

                    <div class="phones col-lg-2 col-md-12">
                        <div class="phone">
                            <img class="fone-icon" src="img/Phone-24.png" alt="phone">

                            <a href="tel:+7 (495) 725 06 11"><p>+7 (495) 725 06 11</p></a>
                        </div>

                        <div class="email">
                           <a href="mailto:infobss1@mail.ru"> <p>E-mail: infobss1@mail.ru</p></a>
                        </div>


                        <div class="wrap_pluso">
                            <!-- ---------------------------------------->
                            <script type="text/javascript">(function () {
                                if (window.pluso)if (typeof window.pluso.start == "function") return;
                                if (window.ifpluso == undefined) {
                                    window.ifpluso = 1;
                                    var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                                    s.type = 'text/javascript';
                                    s.charset = 'UTF-8';
                                    s.async = true;
                                    s.src = ('https:' == window.location.protocol ? 'https' : 'http') + '://share.pluso.ru/pluso-like.js';
                                    var h = d[g]('body')[0];
                                    h.appendChild(s);
                                }
                            })();</script>
                            <div class="pluso" data-background="transparent" data-options="small,round,line,horizontal,nocounter,theme=04" data-services="vkontakte,odnoklassniki,facebook,twitter,google,moimir"></div>
                            <!-- ---------------------------------------->
                        </div>


                    </div>

                </div>
            </div>


        </header>
    </div>
</div>

<div class="icon-wrap">
    <i class="fa fa-bars"></i>
</div>
<div class="hidden-menu">
    <ul>
        <li><a href='/baltica/build/'>О Компании </a></li>
        <li><a href='katalog.html'>Каталог продукции </a></li>
        <li><a href='info.html'>Полезная информация</a></li>
        <li><a href='_vacant.html'>Вакансии</a></li>
        <li><a href='contact.html'>Контакты</a></li>
    </ul>
</div>