<div class="container">
    <div class="bg-team">
        <header>
            <div class="container">

                <div class="row">
                    <div class="logo col-md-2 col-md-offset-1">
                        <img src="img/logo.png" alt="Логотип">

                    </div>
                    <div class="name_org col-md-6">
                        <span>ООО «Балтспецсервис»</span>
                    </div>

                    <div class="phones col-md-2">
                        <div class="phone">
                            <img class="fone-icon" src="img/Phone-24.png" alt="phone">

                            <p>+7 (495) 725 06 11</p>
                        </div>

                        <div class="email">
                            <p>E-mail: infobss1@mail.ru</p>
                        </div>


                        <div class="wrap_pluso">
                            <!-- ---------------------------------------->
                            <script type="text/javascript">(function () {
                                if (window.pluso)if (typeof window.pluso.start == "function") return;
                                if (window.ifpluso == undefined) {
                                    window.ifpluso = 1;
                                    var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
                                    s.type = 'text/javascript';
                                    s.charset = 'UTF-8';
                                    s.async = true;
                                    s.src = ('https:' == window.location.protocol ? 'https' : 'http') + '://share.pluso.ru/pluso-like.js';
                                    var h = d[g]('body')[0];
                                    h.appendChild(s);
                                }
                            })();</script>
                            <div class="pluso" data-background="transparent" data-options="small,round,line,horizontal,nocounter,theme=04" data-services="vkontakte,odnoklassniki,facebook,twitter,google,moimir"></div>
                            <!-- ---------------------------------------->
                        </div>


                    </div>

                </div>
            </div>


        </header>
    </div>
</div>