<section class="section_10">
    <div class="container">
        <div class="row">
            <div id="popupform">
                <div class="feedback_text">
                    <h2>У Вас есть вопросы?</h2>

                    <div class="comment">Укажите Ваш номер телефона и мы перезвоним Вам в самое ближайшее время.</div>
                </div>
                <form method="post" id="form-feedback">
                    <input type="text" placeholder="Ваше имя?" name="client_name" id="client_name" class="input_text"
                           autofocus/>

                    <div class="phone_number">
                        <input type="text" placeholder="Ваш телефон?" name="client_phone" id="client_phone"
                               class="input_text"/>
                    </div>
                    <input class="button" type="submit" value="Жду звонка"/><br/>

                    <div id="bthrow_error_name"></div>
                    <div id="bthrow_error_phone"></div>
                    <div class="throw_error"></div>
                </form>
            </div>
            <a href="#popupform" id="popupbutton"><img title="Телефон" id="phoneimg" src="feedback-form/img/phone-logo.png"/></a>
        </div>
    </div>

</section>