<div class="container-fluid">
    <div class="container black">
        <div class="row">
            <div class="col-md-3 col-md-offset-1 motor">
                <img src="img/motor.png" alt="motor">

            </div>


            <div class="col-md-7 main_info">
                <h1>ДВИГАТЕЛЬ, ЗАПЧАСТИ, ТОПЛИВНАЯ АППАРАТУРА, <br>Дизельные электростанции ЯМЗ, ТМЗ, ЯЗДА, УМЗ</h1>

                <p>Запасные части для грузовых автомобилей и сельхозьехники</p>
            </div>


        </div>
        <div class="row">
            <div class="col-md-7 col-md-offset-1  ul-wrap">
                <ul>
                    <li><a href='/baltica/build/'>О Компании </a></li>
                    <li><a href='katalog.html'>Каталог продукции </a></li>
                    <li><a href='info.html'>Полезная информация</a></li>
                    <li><a href='_vacant.html'>Вакансии</a></li>
                    <li><a href='contact.html'>Контакты</a></li>
                </ul>
                <div class="line"></div>
            </div>

            <div class="btn-wrap col-md-3">
                <div class="mybutton ">Сделать заказ</div>
            </div>

        </div>
    </div>

</div>