<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-1 company">
            <h2>О Компании</h2>

            <p>
                На правах официального дилерства ООО «Силовые агрегаты- группы ГАЗ», компания ООО «Балтспецсервис» предлагает к реализации и поставке ряд агрегативных запчастей и действующего оборудования в Москве. На практичных и выгодных условиях можно:
            </p>
            <ul>
                <li>купить двигатель ЯМЗ, ТМЗ, ЯЗДА и УМЗ;</li>
                <li>заказать ремкомплекты двигателя выше представленных марок;</li>
                <li>приобрести запчасти для сельскохозяйственной и автотракторной техники — БЕЛАЗ, КРАЗ, УРАЛ, МАЗ, МТЗ, ХТЗ, Кировец;</li>
                <li>а также, купить дизельные электростанции, мощность которых составляет от 30 до 315 кВт.</li>
            </ul>

            <p>Дополнительно компания занимается установкой электростанций в контейнер типа "Север". Он может быть оборудован шасси, системой пожаротушения, утепления и т.д.</p>

            <p>Для того чтобы ознакомиться с расценками и номенклатурой рекомендуется подробно изучить раздел сайта под названием "Прайс". Но в любом случае, стоит акцентировать внимание на том, что ООО «Балтспецсервис» специализируется на реализации оригинальных запчастей к любым видам техники.</p>

            <p>Клиентам компании предоставляется удобный сервис, включающий подробные консультации технического характера и доставку любым видом транспорта, в том числе с возможностью самовывоза со склада в Москве. </p>


        </div>
        <div class="col-md-4 bumaga">

            //= description.html
            //= svidetelstva.html

        </div>
    </div>
</div>