<h2>Реквизиты</h2>

<p>
    <b>Полное наименование: </b> <br>
    Общество с ограниченной ответственностью
    «БАЛТСПЕЦСЕРВИС»
</p>

<p>
    <b>Сокращенное наименование:</b><br>
    OOO«БАЛТСПЕЦСЕРВИС»<br>
    ИНН 7843302255 / КПП 784301001<br>
    ОКАТО 40280501000<br>
    ОГРН 1057812510667<br>
    ОКПО 77743875<br>
    ОКВЭД 50.20 29.40.9 50.3.51.6.74.2.74.20<br>
    74.20.35

</p>

<p>
    <b>Плательщик:</b>  OOO«БАЛТСПЕЦСЕРВИС»<br>
    Юридический адресс: 197762, г <br>
    Санкт-Петербург, г. Кронштадт,<br>
    ул. Гусева, дом 12-71<br>
    Тел.: 8(495) 725-06-11<br>
    Р/с 40702810321000000857, БИК 04403790<br>
    Банк ПАО «БАНК «САНКТ-ПЕТЕРБУРГ» г.<br>
    Санкт-Петербург<br>
    К/с 30101810900000000790<br>
</p>

<p>
    <b>Грузополучатель:</b>  OOO«БАЛТСПЕЦСЕРВИС» <br>
    ИНН 7843302255 / КПП 784301001<br>
    141044 , Московская область, Мытищински <br>
    район, деревня Грибки, д.64 А
    Тел.: 8(495) 725-06-11
    E-mail: infobss1@mail.ru
</p>

<p>
    <b>Почтовый адрес:</b> 141700, Московская обл., г<br>
    Долгопрудный,<br>
    ул. Дирижабельная, д. 13, а/я №8
</p>

<p>
    <b>Коммерческий директор:</b> Черкес Михаил Степанович,<br>
    действует на основании доверенности № 78<br>
    АА 8134046 от 29.01.2015 г.
</p>