
<ul>
    <li>- Каталог изделий - ЯМЗ - 2008
        <br> <a href='#'>(скачать)</a></li>

    <li>- Каталог изделий ЯЗДА - 2008

        <br> <a href='#'>(скачать)</a>
    </li>

</ul>


<p>
    Наше предприятие способно предложить полный ассортимент продукции ведущих автомобилестроительных заводов страны, производящих тяжелые грузовики, различную специальную, строительную технику. У нас вы найдете по наиболее оптимальным ценам любые запчасти ЯМЗ, от двигателей в сборе, до ремкомплектов. Предлагаемая топливная аппаратура ЯМЗ обеспечивается в полной мере всеми гарантийными обязательствами и в самый кратчайший срок может быть поставлена клиентам
</p>

<p>
    Наша складская программа позволяет целиком закрыть потребности ведущих автотранспортных, строительных, а также дорожных компаний. Мы являемся стабильным, проверенным партнером для большинства известных компаний, благодаря постоянному наличию качественных запасных частей, комплектующих. Наши дилерские соглашения со многими заводами-производителями позволяют удерживать самые оптимальные цены для потребителей в Москве и регионах, на сертифицированную заводскую продукцию. Независимо от того, какие потребности периодически возникают у наших партнеров, менеджеры компании одинаково быстро и квалифицированно их решают. Все компании точно в срок получат такие расходники, как фильтры МАЗ и сложные дизельные электроагрегаты.

</p>
<p>
    Сотрудники компании быстро отгрузят даже дизельные электростанции ЯМЗ со всеми необходимыми гарантийными обязательствами. Каталог предлагаемых готовых изделий, запчастей, комплектующих и расходных материалов, позволяет достаточно легко подобрать все необходимое для обеспечения бесперебойной работы автопарков, имеющих в своей структуре тяжелую и спецтехнику. В нашем прайс-листе клиенты могут убедиться в привлекательном уровне ценообразования. Это позволяет достаточно серьезно сэкономить средства, необходимые для обслуживания, ремонта техники. Сотрудничество с нами заметно повышает уровень рентабельности автопарков.
</p>

<ul>
    <li>
        <a href='#'>Топливная аппаратура ЯЗДА</a>
    </li>
    <li>
        <a href='#'>Купить двигатель ЯМЗ</a>
    </li>
    <li>
        <a href='#'>Ремкомплекты двигателя</a>
    </li>
    <li>
        <a href='#'>Дизельные электостанции ЯМЗ</a>
    </li>
    <li>
        <a href='#'>Фильтры МАЗ</a>
    </li>
    <li>
        <a href='#'>Запчасти ЯМЗ</a>
    </li>
</ul>