$base-color: #1C2652
$red: #8D0408
$orange: #BB5F07
$font-famaly-regular: RobotoRegular, $helvetica
$font-famaly-bold: RobotoBold, $helvetica


li
	list-style-type: none
	font-size: 14px
	text-align: left

	a
		color: $base-color
		font-size: 14px
		&:hover
			color: $base-color

body
	font-family: $font-famaly-regular
	font-size: 14pt
	margin: 0
	padding: 0
	min-height: 320px
	color: black

h1,h2,h3,h4,h5,h6,p,span
	font-family: $font-famaly-regular


h1
	font-size: 24PX

h2
	font-size: 22px
	
p
	font-size: 14px

a
	color: #000000
	&:hover
		text-decoration: none
		color: #000000



.black
	color: white
.icon-wrap
	display: none
	position: fixed
	top: 10px
	left: 10px
	font-size: 24px
	color: white
	opacity: 0.7
	transition: all .5s ease
	background: #277bc4
	background: -moz-linear-gradient(top,  #277bc4 12%, #163391 54%, #152e68 100%)
	background: -webkit-gradient(linear, left top, left bottom, color-stop(12%,#277bc4), color-stop(54%,#163391), color-stop(100%,#152e68))
	background: -webkit-linear-gradient(top,  #277bc4 12%,#163391 54%,#152e68 100%)
	background: -o-linear-gradient(top,  #277bc4 12%,#163391 54%,#152e68 100%)
	background: -ms-linear-gradient(top,  #277bc4 12%,#163391 54%,#152e68 100%)
	background: linear-gradient(to bottom,  #277bc4 12%,#163391 54%,#152e68 100%)
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#163391', endColorstr='#152e68',GradientType=0 )
	padding: 1px 8px
	border-radius: 2px
	z-index: 100

	&:hover
		opacity: 1
		cursor: pointer


.hidden-menu
	display: none
	position: fixed
	top: 10px
	left: 50px
	background: #131c51
	background: -moz-linear-gradient(left,  #131c51 6%, #183eaf 23%, #152e68 40%)
	background: -webkit-gradient(linear, left top, right top, color-stop(6%,#131c51), color-stop(23%,#183eaf), color-stop(40%,#152e68))
	background: -webkit-linear-gradient(left,  #131c51 6%,#183eaf 23%,#152e68 40%)
	background: -o-linear-gradient(left,  #131c51 6%,#183eaf 23%,#152e68 40%)
	background: -ms-linear-gradient(left,  #131c51 6%,#183eaf 23%,#152e68 40%)
	background: linear-gradient(to right,  #131c51 6%,#183eaf 23%,#152e68 40%)
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131c51', endColorstr='#152e68',GradientType=1 )
	z-index: 1000
	padding: 10px 20px
	border-radius: 4px
	transition: all .5s ease
	&:hover
		opacity: 1

	ul
		padding: 0

		li
			padding: 5px
			border-radius: 3px
			transition: all .5s ease
			&:hover
				background: #ff6600
				background: -moz-linear-gradient(top,  #ff6600 0%, #ff6600 19%, #d14f32 45%, #c72200 100%)
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff6600), color-stop(19%,#ff6600), color-stop(45%,#d14f32), color-stop(100%,#c72200))
				background: -webkit-linear-gradient(top,  #ff6600 0%,#ff6600 19%,#d14f32 45%,#c72200 100%)
				background: -o-linear-gradient(top,  #ff6600 0%,#ff6600 19%,#d14f32 45%,#c72200 100%)
				background: -ms-linear-gradient(top,  #ff6600 0%,#ff6600 19%,#d14f32 45%,#c72200 100%)
				background: linear-gradient(to bottom,  #ff6600 0%,#ff6600 19%,#d14f32 45%,#c72200 100%)
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6600', endColorstr='#c72200',GradientType=0 )
				text-decoration: none
			a
				color: #fff
				text-decoration: none



