footer
	height: 100px
	background: #131c51
	background: -moz-linear-gradient(left,  #131c51 6%, #1a2448 23%, #152e68 40%, #0f2d6d 55%, #1a2448 73%)
	background: -webkit-gradient(linear, left top, right top, color-stop(6%,#131c51), color-stop(23%,#1a2448), color-stop(40%,#152e68), color-stop(55%,#0f2d6d), color-stop(73%,#1a2448))
	background: -webkit-linear-gradient(left,  #131c51 6%,#1a2448 23%,#152e68 40%,#0f2d6d 55%,#1a2448 73%)
	background: -o-linear-gradient(left,  #131c51 6%,#1a2448 23%,#152e68 40%,#0f2d6d 55%,#1a2448 73%)
	background: -ms-linear-gradient(left,  #131c51 6%,#1a2448 23%,#152e68 40%,#0f2d6d 55%,#1a2448 73%)
	background: linear-gradient(to right,  #131c51 6%,#1a2448 23%,#152e68 40%,#0f2d6d 55%,#1a2448 73%)
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#131c51', endColorstr='#1a2448',GradientType=1 )
	padding-top: 15px
.footer-info
	padding: 0

	p
		font-size: 12px
		line-height: 14px
		letter-spacing: 0.2px
		padding-bottom: 10px
.inform
	text-align: left

	p
		font-size: 12px
		line-height: 14px
		letter-spacing: 0.2px
		padding-bottom: 10px

.informer
	width: 87px
	height: 30px
	background-color: #cfcfcf
	padding: 0
	margin: 2px 0 0 -16px
	font-size: 12px
	line-height: 14px
	letter-spacing: 0.2px
	color: #000
	text-align: center
	padding-top: 8px




