.section_3
	.item
		background: #F2F2F2
		
	margin-bottom: 35px
	.company
		text-align: left
		padding: 5px 0 100px

		letter-spacing: 1px
		line-height: 1em
		background-image: url(../img/shesterni.png)
		background-repeat: no-repeat
		background-position: 100% 100%
		p
			font-size: 14px
			padding-bottom: 23px

		li
			list-style-type: disc

	.bumaga
		margin-top: 20px
		text-align: center
		padding: 5px
		letter-spacing: 0.8px
		h2
			text-align: left
			margin-left: 40px
		li
			margin-bottom: 20px


	.img-wrap
		width: 178px
		display: inline-block
		padding-top: 10px
		margin-left: 10px
		img
			width: 100%
			padding: 0 0 15px 0

.section_3_info
	.slider
		min-height: 800px
		.glyphicon-chevron-right,.glyphicon-chevron-left
			font-size: 17px
			color: $base-color
		.carousel-control
			background: none
		.text-wrap
			display: block
			text-align: left
			h3
				color: #000
				display: block
			a
				color: #0E4F86
				display: block
				font-size: 14px
				margin-bottom: 60px
				text-decoration: underline
				box-shadow: none
		ul
			padding: 0
			li
				list-style-type: none
				padding-bottom: 17px
				a
					text-decoration: underline
					&:hover
						text-decoration: none
	#myCarousel
		border: 13px solid white
		box-shadow: 0 2px 5px grey
		margin-bottom: 44px


.section_3_contact
	a
		color: black
	.map-wrap
		margin: 20px 0
	p
		font-size: 12px
		text-align: left
	.rekvizit
		margin-left: 42px

.section_3_article
	.company
		h2
			text-decoration: underline
			color: $base-color
